<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding" *ngIf="!isLoading">
    <ion-item>
        <ion-thumbnail slot="start" class="profile-thumbnail ion-text-center">
            <img [src]="users?.photoURL ? users?.photoURL : '../../assets/images/avatar.png'" (click)="onImagePicked($event)">
        </ion-thumbnail>
        <ion-label>
            <h3>Display name: {{users?.displayName}}</h3>
            <p>Email: {{users?.email}}</p>
            <p>Joined: {{users?.metadata.creationTime | date }}</p>
        </ion-label>
    </ion-item>
</ion-list>
<ion-card *ngIf="!isLoading">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-radio-group (click)="classificationChanged($event, users?.id)">
        <ion-list-header>
            <ion-label>Classification</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let classification of (classifications | async)">
            <ion-label>{{classification.name}}</ion-label>
            <ion-radio slot="start" color="primary" [value]="classification.name" [checked]="classification.name == selectedClassification"></ion-radio>
        </ion-item>
    </ion-radio-group>
    <ion-item>
      <ion-label>Experience level</ion-label>
      <ion-select [ngModel]="selectedExperience" (ionChange)="experienceChanged($event, userInfo?.uid)">
          <ion-select-option value="entry">Entry</ion-select-option>
          <ion-select-option value="intermediate">Intermediate</ion-select-option>
          <ion-select-option value="expert">Expert</ion-select-option>
      </ion-select>
  </ion-item>
</ion-list>
    <ion-item>
        <app-location-picker slot="end" (locationPick)="onLocationPicked($event, users?.uid)"></app-location-picker>
        <ion-label>Update Location</ion-label>
    </ion-item>
    <img [src]="location?.staticMapImageUrl" *ngIf="location" />
    <ion-card-header *ngIf="location">
        <ion-card-title>Address</ion-card-title>
        <ion-card-subtitle>{{location?.lat}} - {{location?.lng}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="location">
        {{location?.address}}
    </ion-card-content>
</ion-card>

</ion-content>
