
<ion-content *ngIf="!isLoading">
  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="news">
          <ion-icon name="information"></ion-icon>
          <ion-label>News</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="services/discover">
            <ion-icon name="search"></ion-icon>
            <ion-label>Discover</ion-label>
        </ion-tab-button>
        <ng-container *ngIf="role != 'assistant'">
          <ion-tab-button tab="bookings/new-booking">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Book Now</ion-label>
          </ion-tab-button>
        </ng-container>
        <ng-container *ngIf="role != 'client'">
          <ion-tab-button tab="services/offers">
            <ion-icon name="card"></ion-icon>
            <ion-label>Offers</ion-label>
          </ion-tab-button>
        </ng-container>
        <ion-tab-button tab="profiles">
          <ion-icon name="contact"></ion-icon>
          <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
