
.offer-details {
  display: flex;
  align-items: center;

  .space-left {
    margin: 0 5px;
  }
}

ion-note.note {
  position: absolute;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
