<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/payments"></ion-back-button>
      </ion-buttons>
      <ion-title>Create Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="isLoading">
      <ion-card class="ion-text-center">
          <ion-card-header>
              <ion-card-subtitle>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-content>
      </ion-card>
      <ion-list lines="none">
          <ion-item>
              <ion-label position="floating">
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </ion-label>
          </ion-item>
      </ion-list>
      <section>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </section>
  </ng-container>
  <ng-container *ngIf="!isLoading">
    <form #f="ngForm" (ngSubmit)="onPaymentConfirm(f)">
      <ion-card class="ion-text-center">
          <ion-item *ngFor="let service of bookings.assistant.selectedServices">
            <ion-label>{{service.title}}</ion-label>
            <ion-chip>
              <ion-label>{{service.charges | currency:'PHP':'symbol-narrow' }}</ion-label>
            </ion-chip>
          </ion-item>
          <ion-card-content>
              {{total}}
          </ion-card-content>
      </ion-card>
      <ion-list>
          <ion-item>
              <ion-label position="floating">
                  Add Note
              </ion-label>
              <ion-textarea rows="6" ngModel name="note" #note="ngModel" required></ion-textarea>
          </ion-item>
          <ion-item *ngIf="!note.valid && note.touched" lines="none">
            <p>Please add note!</p>
          </ion-item>
      </ion-list>
      <section>
          <ion-button expand="block" type="submit">Paid</ion-button>
      </section>
    </form>
  </ng-container>
</ion-content>
