<ion-header>
  <ion-toolbar color="primary">
      <ion-title>{{user.displayName}}</ion-title>
      <ion-buttons slot="primary">
          <ion-button (click)="onCancel()">
              <ion-icon name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-text color="dark">
    <h5>Select Services</h5>
  </ion-text>
  <ion-list>
    <ion-item lines="full" *ngFor="let offer of offers$ | async" (click)="onPickedService(offer?.id)">
        <ion-thumbnail slot="start">
            <ion-img [src]="offer.imageUrl"></ion-img>
        </ion-thumbnail>
        <ion-label>

          <h2>{{ offer.title }}</h2>
          <ion-chip outline >
            <ion-icon name="clock"></ion-icon>
            <ion-label>{{ offer.duration }}</ion-label>
          </ion-chip>
          <ion-chip outline >
            <ion-icon name="cash"></ion-icon>
            <ion-label>{{ offer.charges | currency }}</ion-label>
          </ion-chip>
          <ion-checkbox [value]="offer.id" slot="end"></ion-checkbox>
        </ion-label>
    </ion-item>
  </ion-list>


  <ion-card *ngIf="!(offers$ | async)?.length">
    <ion-card-content>
      <ion-icon slot="start" name="information"></ion-icon>
      No offers from {{user.displayName}}!
    </ion-card-content>
  </ion-card>
</ion-content>
