<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/places/offers"></ion-back-button>
        </ion-buttons>
        <ion-title>New Offer</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onCreateOffer()" [disabled]="!form.valid || !form.get('image').value">
                <ion-icon name="save" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form [formGroup]="form">
      <ion-list class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Short Description</ion-label>
          <ion-textarea rows="3" formControlName="description"></ion-textarea>
        </ion-item>
        <!-- <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
          <ion-col size-sm="6" offset-sm="3">
              <p>Description must be between 1 and 180 characters.</p>
          </ion-col>
        </ion-row> -->
        <ion-item>
          <ion-label>Status</ion-label>
          <ion-select formControlName="status" placeholder="Select">
            <ion-select-option value="active">Active</ion-select-option>
            <ion-select-option value="archive">Archive</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-list-header>Availability</ion-list-header>
        <ion-radio-group formControlName="availability">
          <ion-item>
            <ion-label>Week days only</ion-label>
            <ion-radio slot="start" value="weekdays"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Week ends only</ion-label>
            <ion-radio slot="start" value="weekends"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>All days</ion-label>
            <ion-radio slot="start" value="alldays"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select formControlName="category" placeholder="Select" (ionChange)="onCategorySelected($event)">
            <ion-select-option [value]="service.name" *ngFor="let service of services | async">{{service.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-list-header>Services detail</ion-list-header>
        <ion-item>
          <ion-label position="floating">Type</ion-label>
          <ion-input formControlName="type"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Duration</ion-label>
          <ion-input formControlName="duration"></ion-input>
          <ion-note slot="end">min/hour</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cost</ion-label>
          <ion-input type="number" formControlName="cost"></ion-input>
          <ion-note slot="end">.00</ion-note>
        </ion-item>

        <ion-list-header>Sample of Offer</ion-list-header>
        <app-image-picker [showPreview]="form.get('image').value" (imagePick)="onImagePicked($event)"></app-image-picker>
      </ion-list>
    </form>
</ion-content>
