<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-virtual-scroll [items]="(wallet$ | async)" approxItemHeight="70px">
    <ion-item [routerLink]="['/t/', 'wallet', 'news-detail', wallet.id]" detail *virtualItem="let wallet" >
      <!-- <!-- <app-wallet-item [wallet]="wallet"></app-wallet-item> --> -->
      <ion-label>
        <h2>{{wallet.paymentFrom }}</h2>
        <h3>{{wallet.paymentDate | date }}</h3>
        <p>Reference Num: {{ wallet.paymentId }}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
  <!-- <ion-item-sliding *ngFor="let booking of loadedBookings" #slidingBooking>
    <app-booking-item [booking]="booking" (wasCanceled)="onCancel($event)"></app-booking-item>
  </ion-item-sliding> -->
  <ion-card *ngIf="!(wallet$ | async)?.length">
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon slot="start" name="information-circle"></ion-icon>
        <ion-label>No balance avaiable for now!</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
