<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Wallet</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Wallet Balance</ion-card-subtitle>
      <ion-card-title>{{balance | currency:'PHP':'symbol-narrow'}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" shape="round">
          <ion-icon slot="start" name="cash"></ion-icon>
          Withdraw
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" shape="round" color="secondary">
          <ion-icon slot="start" name="card"></ion-icon>
          Deposit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list id="skeleton" *ngIf="isLoading">
    <ion-item *ngFor="let item of [1,2,3,4,5,6,7]">
        <ion-label>
            <h2>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </h2>
            <p>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </p>
        </ion-label>
        <ion-note slot="end">
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-note>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="wallets.length && !isLoading">
    <ion-item *ngFor="let wallet of wallets" detail>
      <ion-label>
        <h2>Paid by: <b>{{wallet.transactions.itemList.shippingAddress.recipientName}}</b></h2>
        <p>{{wallet.paymentCreatedTransformed | date:'mediumDate'}}</p>
      </ion-label>
      <ion-note slot="end">
        {{wallet.transactions.amount.total | currency:wallet.transactions.amount.currency:'symbol-narrow'}}
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" *ngIf="wallets.length">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more transactions...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="wallets.length">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more transactions...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <ion-card *ngIf="wallets.length === 0  && !isLoading">
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon slot="start" name="information-circle"></ion-icon>
        <ion-label>No balance avaiable for now!</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
