<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Wallet</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding">
    <ion-card>
        <ion-card-header class="ion-text-center">
            <ion-card-subtitle>Wallet Balance</ion-card-subtitle>
            <ion-card-title>{{balance | currency:'PHP':'symbol-narrow'}}</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-list id="skeleton" *ngIf="isLoading">
        <ion-item *ngFor="let item of [1,2,3,4,5,6,7]">
            <ion-label>
                <h2>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </h2>
                <p>
                    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                </p>
            </ion-label>
            <ion-note slot="end">
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-note>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="wallets.length  && !isLoading">
        <ion-item *ngFor="let wallet of wallets" detail (click)="onViewDetail(wallet?.id)">
            <ion-label>
                <h2>Invoice #: <b>{{wallet.transactions.invoiceNumber}}</b></h2>
                <p>{{wallet.paymentCreatedTransformed | date:'mediumDate'}} - <span color="secondary">{{wallet.isValidated ? 'completed': 'pending>'}}</span></p>
            </ion-label>
            <ion-note slot="end">
                {{wallet.transactions.amount.total | currency:wallet.transactions.amount.currency:'symbol-narrow'}}
            </ion-note>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" *ngIf="wallets.length">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more transactions...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-card *ngIf="wallets.length === 0 && !isLoading">
        <ion-card-content>
            <ion-item lines="none">
                <ion-icon slot="start" name="information-circle"></ion-icon>
                <ion-label>No transaction found!</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <!-- onDeposit() -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/t/wallet/wallet-create">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
