<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/services/discover"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ isLoading ? 'Loading...' : offer.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="skeleton" *ngIf="isLoading">
    <ion-card-header>
      <ion-card-title>
        <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
    </ion-card-content>
    <ion-item>
      <ion-skeleton-text animated style="width: 30px" slot="start"></ion-skeleton-text>
      <ion-label>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="!isLoading">
    <img [src]="offer?.imageUrl" />
    <ion-card-header>
      <ion-card-subtitle>
        Status: {{ offer.status === 'active' ? 'Active': 'Archive'}}
      </ion-card-subtitle>
      <ion-card-title>{{offer?.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{offer?.description}}
      <!-- public status: string,
    public availability: string,
    public type: string,
    public duration: string,
    public cost: number, -->
    </ion-card-content>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>
        <ng-container *ngIf="offer.availability === 'alldays'; else options">
          All Days
        </ng-container>
        <ng-template #options>
          {{ offer.availability != 'weekdays' ? 'Week end': 'Week days'}}
        </ng-template>
      </ion-label>
      <ion-note slot="end">Availability</ion-note>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
    </ion-item>

    <ion-item class="activated">
      <ion-icon name="clock" slot="start"></ion-icon>
      <ion-label>{{offer.duration}}</ion-label>
      <ion-note slot="end">Duration</ion-note>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>

    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 .activated</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
    <ion-item *ngIf="isBookable" (click)="onBookOffer(offer?.id)">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>Book</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
