<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Profile</ion-title>
        <!-- <ion-buttons slot="primary">
            <ion-button>
                <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Segment -->
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="account" checked>
      <ion-label>Account</ion-label>
    </ion-segment-button>
    <ion-segment-button value="settings">
      <ion-label>Settings</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notifications">
      <ion-label>Notifications</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="selectedSegment == 'account'">
    <ion-list id="skeleton" *ngIf="isLoading">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-card *ngIf="isLoading">
      <ion-item>
        <ion-skeleton-text slot="end" animated style="width: 20%"></ion-skeleton-text>
        <ion-label><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-label>
      </ion-item>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></ion-card-title>
        <ion-card-subtitle><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 95%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>

    <ion-list lines="full" class="ion-no-margin ion-no-padding" *ngIf="!isLoading">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="user?.photoURL ? user?.photoURL : 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'" (click)="onImagePicked($event)">
        </ion-thumbnail>
        <ion-label>
          <h3>Display name: {{user?.displayName}}</h3>
          <p>Email: {{user?.email}}</p>
          <p>Joined: {{user?.metadata.creationTime | date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-card  *ngIf="!isLoading">
      <ion-item>
        <app-location-picker slot="end" (locationPick)="onLocationPicked($event)"></app-location-picker>
        <ion-label>Update Location</ion-label>
      </ion-item>
      <img [src]="location?.staticMapImageUrl" *ngIf="location"/>
      <ion-card-header  *ngIf="location">
        <ion-card-title>Address</ion-card-title>
        <ion-card-subtitle>{{location?.lat}} - {{location?.lng}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content  *ngIf="location">
        {{location?.address}}
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="selectedSegment == 'settings'">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label>Experience level</ion-label>
        <ion-select>
          <ion-select-option [value]="experience.val" *ngFor="let experience of experiences">{{experience.label}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Visibility</ion-label>
          <ion-select [compareWith]="compareWithVisibility">
            <ion-select-option *ngFor="let visibility of visibilities" [value]="visibility.val" [(ngModel)]="visibility.isSelected">{{visibility.label}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Classificaion</ion-label>
        <ion-select>
          <ion-select-option [value]="service.slug" *ngFor="let service of (services | async)">{{service.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="selectedSegment == 'notifications'">
    <ion-list>
      <ion-item *ngFor="let notification of notifications">
        <ion-label>{{notification.label}}</ion-label>
        <ion-checkbox slot="end" [value]="notification.val" [(ngModel)]="notification.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>

  </ng-container>
</ion-content>
