<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul *ngIf="(news$ | async)?.length; else loading">
    <li class="text" *ngFor="let news of news$ | async">
      {{news.title}}
    </li>
  </ul>
  <ion-list>
    <ion-list-header>
      Latest News
    </ion-list-header>
    <ion-item *ngFor="let news of news$ | async" (click)="onNewsDetail(news.id)">
      <ion-avatar slot="start">
        <img [src]="news.featuredImage">
      </ion-avatar>
      <ion-label>
        <h2>{{news.title}}</h2>
        <h3>{{news.published}}</h3>
        <p>{{news.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Previous News
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <p>Shows when no data, waiting for Api</p>
  </ng-template>

  <!-- <ion-list id="list"></ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
