<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <legend class="ion-padding">Get your free account</legend>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-radio-group ngModel name="role" role #role="ngModel" *ngIf="!isRoleSelected" (click)="onRoleSelect($event)">
        <ion-item>
          <ion-label>I want to hire</ion-label>
          <ion-radio slot="start" value="client"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>I want to work</ion-label>
          <ion-radio slot="start" value="assistant"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ng-container *ngIf="isRoleSelected">
        <ion-item>
          <ion-label position="floating">First name</ion-label>
          <ion-input type="text" ngModel name="firstName" required firstName #firstName="ngModel"></ion-input>
        </ion-item>
        <ion-item *ngIf="!firstName.valid && firstName.touched" lines="none">
            <p>Should be a valid firstName!</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Last name</ion-label>
          <ion-input type="text" ngModel name="lastName" required lastName #lastName="ngModel"></ion-input>
        </ion-item>
        <ion-item *ngIf="!lastName.valid && lastName.touched" lines="none">
            <p>Should be a valid lastName!</p>
        </ion-item>
        <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" ngModel name="email" required email #email="ngModel"></ion-input>
        </ion-item>
        <ion-item *ngIf="!email.valid && email.touched" lines="none">
            <p>Should be a valid email!</p>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" ngModel name="password" required minlength="8" #password="ngModel"></ion-input>
        </ion-item>
        <ion-item *ngIf="!password.valid && password.touched" lines="none">
            <p>Should at least 8 characters long!</p>
        </ion-item>
      </ng-container>
    </ion-list>

    <div class="ion-padding" *ngIf="isRoleSelected">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!f.valid">Create account</ion-button>
    </div>

  </form>

</ion-content>
<ion-footer class="ion-text-center">
  <p role="button" routerLink="/auth/login">Already have an account.</p>
  </ion-footer>
