<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Discover Places</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Searchbar in a Toolbar -->
    <ion-toolbar>
      <ion-searchbar placeholder="Filter Places" color="light" (ionClear)="onClear($event)" (ionChange)="onFilterUpdate($event)"></ion-searchbar>
    </ion-toolbar>
    <ion-grid *ngIf="isLoading">
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <ion-spinner color="primary"></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!loadedPlaces | async">
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <p>There are no bookable places right now, please come back later!</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <ion-virtual-scroll [items]="(loadedPlaces | async)" approxItemHeight="70px">
                    <ion-item [routerLink]="['/t/', 'places', 'discover', 'place-detail', place.id]" detail *virtualItem="let place">
                        <ion-thumbnail slot="start">
                            <ion-img [src]="place.imageUrl"></ion-img>
                        </ion-thumbnail>
                        <ion-label>
                            <h2>{{ place.title }}</h2>
                            <p>{{ place.description }}</p>
                        </ion-label>
                    </ion-item>
                </ion-virtual-scroll>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

