<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/t/bookings/booking-create/assistant"></ion-back-button>
    </ion-buttons>
    <ion-title>Step 3 out of 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="skeleton" *ngIf="isLoading">
    <ion-item>
        <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
            <h2>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </h2>
            <h3>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </h3>
            <p>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </p>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
            <h2>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </h2>
            <h3>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </h3>
            <p>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </p>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
            <h2>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </h2>
            <h3>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </h3>
            <p>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </p>
        </ion-label>
    </ion-item>
</ion-list>

  <ion-list *ngIf="!isLoading">
    <ion-item lines="full" *ngFor="let booking of booking$ | async">
      <!-- <ion-avatar slot="start">
          <ion-img [src]="booking?.photoURL"></ion-img>
      </ion-avatar> -->
      <ion-label>
        {{booking.id}}
          <!-- <h2>{{ booking.displayName }}</h2>
          <p>{{ booking.classification | uppercase }}</p> -->
        </ion-label>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="!(booking$ | async)?.length">
    <ion-card-content>
      <ion-icon slot="start" name="information"></ion-icon>
      No booking at this moment!
    </ion-card-content>
  </ion-card>
</ion-content>
