<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/t/bookings/booking-create/assistant"></ion-back-button>
    </ion-buttons>
    <ion-title>Step 3 out of 5</ion-title>
    <ion-buttons slot="end" *ngIf="activeNext">
      <ion-button (click)="onNext('review')">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen class="ion-padding">
  <!-- <ng-container *ngIf="activeNext">
    <ion-item>
      <ion-label>
        {{schedule?.datePicked | date }}
      </ion-label>
      <ion-note slot="end">Date</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        {{schedule?.timePicked }}
      </ion-label>
      <ion-note slot="end">Time</ion-note>
    </ion-item>
  </ng-container>
  <ng-container *ngIf="!activeNext">
    <ion-button expand="block" (click)="onOpenDatePicker()">Pick a Date/Time</ion-button>
  </ng-container> -->

  <form #f="ngForm" (ngSubmit)="onSetSchedule(f)">
  <ion-list>
      <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime display-format="MMM DD, YYYY" picker-format="MMM DD YYYY" [value]="datePicked" placeholder="Select Date" [min]="date" ngModel name="datePicked" required datePicked #datePicked="ngModel"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>Time</ion-label>
          <ion-datetime display-format="hh:mm A" picker-format="hh:mm A" [value]="timePicked" placeholder="Select Time" name="timePicked" ngModel required timePicked #timePicked="ngModel"></ion-datetime>
      </ion-item>
  </ion-list>

  <ion-button type="submit" color="primary" expand="block" [disabled]="!f.valid">
      Set Date
  </ion-button>
</form>
  <ion-text color="dark">
    <h5>Active bookings</h5>
  </ion-text>
  <ion-list id="skeleton" *ngIf="isLoading">
    <ion-item>
        <ion-label>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-note slot="end"><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
      <ion-note slot="end"><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
      <ion-note slot="end"><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
      <ion-note slot="end"><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></ion-note>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!isLoading">
    <ion-item lines="full" *ngFor="let booking of booking$ | async">
      <ion-label>
        {{booking.schedule.datePicked}} @ {{booking.schedule.timePicked}}
      </ion-label>
      <ion-note>scheduled</ion-note>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="!(booking$ | async)?.length">
    <ion-card-content>
      <ion-icon slot="start" name="information"></ion-icon>
      No booking at this moment!
    </ion-card-content>
  </ion-card>
</ion-content>
